@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

.navegador {
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  position: fixed;
  z-index: 2000;
}
.navegador .navegador__logo img {
  height: 80px;
}
.navegador .navegador__hamburguesa {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  display: none;
}
.navegador .navegador__hamburguesa .fa-bars {
  font-size: 25px;
}
.navegador .navegador__links {
  height: 100%;
  transition: transform 0.5s;
  display: flex;
  list-style: none;
}
.navegador .navegador__links .navegador__links__item {
  margin-left: 20px;
  position: relative;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.navegador .navegador__links .navegador__links__item .navegador__links__item__a {
  color: #0D0D0D;
  height: 100%;
  display: flex;
  align-items: center;
}
.navegador .navegador__links .navegador__links__item .navegador__links__item__a:hover {
  color: #2731F2;
}
.navegador .navegador__links .navegador__links__item .navegador__links__item__a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 25px;
  width: 0;
  height: 2px;
  background-color: #2731F2;
  transition: width 0.3s;
}
.navegador .navegador__links .navegador__links__item .navegador__links__item__a:hover::after {
  width: 100%;
}
.navegador .navegador__links .servicios-item:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.navegador .navegador__links .servicios-item .subitems {
  transition: -webkit-clip-path 0.3s;
  transition: clip-path 0.3s;
  transition: clip-path 0.3s, -webkit-clip-path 0.3s;
  -webkit-clip-path: var(--clip);
          clip-path: var(--clip);
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #ffffff;
  border: 1px solid #0D0D0D;
  width: 250px;
}
.navegador .navegador__links .servicios-item .subitems li:not(:last-child) {
  border-bottom: 1px solid rgba(139, 138, 138, 0.7137254902);
}
.navegador .navegador__links .servicios-item .subitems li a {
  color: #0D0D0D;
  display: block;
  padding: 10px 25px;
}
.navegador .navegador__links .servicios-item .subitems li a:hover {
  color: #2731F2;
  background-color: #f5f5f5;
}
.navegador .navegador__links .servicios-item a i {
  font-size: 12px;
  margin-left: 5px;
  margin-top: 4px;
}

@media (max-width: 768px) {
  .navegador {
    padding: 0 30px;
  }
  .navegador .navegador__logo img {
    height: 50px;
  }
  .navegador .navegador__hamburguesa {
    display: flex;
  }
  .navegador .navegador__links {
    position: fixed;
    width: 100%;
    max-width: 400px;
    top: 80px;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    overflow-y: auto;
    display: grid;
    grid-auto-rows: max-content;
    transform: translateX(100%);
  }
  .navegador .navegador__links .navegador__links__item {
    margin: 0;
    --clip: 0;
    overflow: hidden;
  }
  .navegador .navegador__links .navegador__links__item .navegador__links__item__a {
    padding: 25px 0;
    padding-left: 35px;
    height: auto;
  }
  .navegador .navegador__links .navegador__links__item .navegador__links__item__a:hover {
    color: #2731F2;
    background-color: #f5f5f5;
  }
  .navegador .navegador__links .navegador__links__item .navegador__links__item__a:hover::after {
    display: none;
  }
  .navegador .navegador__links .menu__item--active {
    --background: #f5f5f5;
  }
  .navegador .navegador__links .servicios-item {
    background-color: var(--background);
  }
  .navegador .navegador__links .servicios-item .subitems {
    display: grid;
    position: unset;
    width: 100%;
    transform: translateY(0);
    border: none;
    height: 0;
    transition: height 0.3s;
  }
  .navegador .navegador__links .servicios-item .subitems li {
    border-bottom: none !important;
  }
  .navegador .navegador__links .servicios-item .subitems li a {
    width: 90%;
    margin-left: auto;
    border-left: 1px solid #999999;
  }
  .navegador .navegador__links .servicios-item .subitems li a:hover {
    color: #2731F2;
    background-color: #f5f5f5;
  }
  .navegador .menu__links--show {
    transform: unset;
    width: 100%;
  }
}
.encabezado {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, #020818, rgba(12, 36, 97, 0.2039215686)), url("../img/header-seguridad.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}
.encabezado .encabezado__contenedor .encabezado__parrafo {
  width: 70%;
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 20px;
}
.encabezado .encabezado__contenedor .encabezado__titulo {
  font-weight: 300;
  margin-bottom: 50px;
}
.encabezado .encabezado__contenedor .encabezado__boton {
  font-weight: 600;
  color: #ffffff;
  padding: 15px 70px;
  background-color: #2731F2;
  transition: background-color 0.3s;
  display: inline-block;
  border-radius: 5px;
}
.encabezado .encabezado__contenedor .encabezado__boton:hover {
  background-color: #FF2A28;
}

@media (max-width: 768px) {
  .encabezado .encabezado__contenedor .encabezado__parrafo {
    font-size: 45px;
    width: 100%;
  }
  .encabezado .encabezado__contenedor .encabezado__titulo {
    font-size: 20px;
    margin-bottom: 35px;
  }
  .encabezado .encabezado__contenedor .encabezado__boton {
    padding: 15px 60px;
  }
}
.nosotros {
  background-color: #f5f5f5;
}
.nosotros .nosotros__contenedor {
  max-width: 100%;
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
}
.nosotros .nosotros__contenedor .nosotros__texto {
  flex: 1;
}
.nosotros .nosotros__contenedor .nosotros__texto .nosotros__texto__titulo {
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 20px;
}
.nosotros .nosotros__contenedor .nosotros__texto .nosotros__texto__parrafo {
  margin-bottom: 10px;
  line-height: 25px;
  font-size: 18px;
  opacity: 0.85;
}
.nosotros .nosotros__contenedor .nosotros__texto .nosotros__texto__parrafo i {
  margin-right: 5px;
}
.nosotros .nosotros__contenedor .nosotros__texto .nosotros__texto__boton {
  font-weight: 400;
  color: #ffffff;
  padding: 10px 50px;
  background-color: #2731F2;
  transition: background-color 0.3s;
  display: inline-block;
  border-radius: 5px;
  margin-top: 10px;
}
.nosotros .nosotros__contenedor .nosotros__texto .nosotros__texto__boton:hover {
  background-color: #FF2A28;
}
.nosotros .nosotros__contenedor .nosotros__imagen {
  flex: 1;
}
.nosotros .nosotros__contenedor .nosotros__imagen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.nosotros .nosotros__frase {
  background-image: url("../img/guardia-seguridad-masculino-frase.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.8;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nosotros .nosotros__frase p {
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

@media (max-width: 1024px) {
  .nosotros .nosotros__contenedor {
    flex-direction: column;
    padding: 40px 30px;
    gap: 30px;
  }
  .nosotros .nosotros__contenedor .nosotros__imagen {
    max-width: 100%;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .nosotros .nosotros__contenedor {
    flex-direction: column;
    padding: 30px 20px;
    gap: 20px;
  }
  .nosotros .nosotros__contenedor .nosotros__imagen {
    max-width: 100%;
    margin-top: 20px;
  }
  .nosotros .nosotros__frase {
    min-height: 150px;
  }
  .nosotros .nosotros__frase h3 {
    font-size: 20px;
    font-weight: 400;
  }
}
.servicios {
  background-color: #ffffff;
  padding: 80px;
}
.servicios .servicios__titulo h2 {
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}
.servicios .servicios__titulo p {
  margin-bottom: 50px;
  line-height: 25px;
  font-size: 25px;
  opacity: 0.85;
}
.servicios .servicios__contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 tarjetas en una fila para computadora */
  gap: 20px; /* Espacio entre las tarjetas */
}
.servicios .servicios__contenedor .servicios__card {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #b3b3b3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: border 0.3s;
  position: relative;
  overflow: hidden;
}
.servicios .servicios__contenedor .servicios__card:hover .overlay {
  height: 100%;
}
.servicios .servicios__contenedor .servicios__card:hover {
  cursor: pointer;
}
.servicios .servicios__contenedor .servicios__card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
.servicios .servicios__contenedor .servicios__card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.servicios .servicios__contenedor .servicios__card p {
  font-size: 16px;
  margin-bottom: 20px;
}
.servicios .servicios__contenedor .servicios__card p i {
  margin-right: 15px;
}
.servicios .servicios__contenedor .servicios__card p span {
  font-weight: 600;
}
.servicios .servicios__contenedor .servicios__card .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(39, 49, 242, 0.6862745098);
  width: 100%;
  height: 0;
  transition: height 0.5s ease;
  overflow: hidden;
}
.servicios .servicios__contenedor .servicios__card .overlay a {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.servicios .servicios__contenedor .servicios__card .overlay a i {
  margin-right: 15px;
}

/* Estilos para la vista desde iPad */
@media (max-width: 1024px) {
  .servicios {
    padding: 40px 30px;
  }
  .servicios .servicios__contenedor {
    grid-template-columns: repeat(2, 1fr); /* 2 tarjetas en una fila para iPad */
  }
}
/* Estilos para la vista móvil */
@media (max-width: 768px) {
  .servicios {
    padding: 20px 10px;
  }
  .servicios .servicios__contenedor {
    grid-template-columns: 1fr; /* 1 tarjeta en una fila para móvil */
  }
}
.busqueda__laboral {
  width: 100%;
  min-height: 300px;
  background-color: rgba(97, 97, 97, 0.4666666667);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.busqueda__laboral i {
  font-size: 50px;
  margin-bottom: 10px;
  opacity: 0.85;
}
.busqueda__laboral p {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
  opacity: 0.85;
  text-align: center;
}
.busqueda__laboral a {
  font-weight: 400;
  color: #ffffff;
  padding: 10px 50px;
  background-color: #2731F2;
  transition: background-color 0.3s;
  display: inline-block;
  border-radius: 5px;
  margin-top: 10px;
}
.busqueda__laboral a:hover {
  background-color: #FF2A28;
}

@media (max-width: 768px) {
  .busqueda__laboral {
    min-height: 250px;
  }
  .busqueda__laboral i {
    font-size: 40px;
  }
  .busqueda__laboral p {
    font-size: 35px;
    font-weight: 600;
  }
}
.contacto {
  background-color: #f5f5f5;
  padding: 80px;
}
.contacto .contacto__titulo h2 {
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}
.contacto .contacto__titulo p {
  margin-bottom: 50px;
  line-height: 25px;
  font-size: 25px;
  opacity: 0.85;
}
.contacto .formulario {
  display: flex;
  align-items: center;
}
.contacto .formulario .formulario__contenedor {
  flex: 1;
}
.contacto .formulario .formulario__contenedor .form {
  width: 100%;
  max-width: 650px;
  background-color: #dbdbdb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 35px 30px 35px;
  border-radius: 10px;
  color: #000000;
}
.contacto .formulario .formulario__contenedor .form label {
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
}
.contacto .formulario .formulario__contenedor .form label input {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid #2731F2;
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: #ffffff;
}
.contacto .formulario .formulario__contenedor .form textarea {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid #2731F2;
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: #ffffff;
  height: 150px;
  min-height: 50px;
}
.contacto .formulario .formulario__contenedor .form .boton {
  width: 100%;
  background-color: #2731F2;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 15px 70px;
  transition: background-color 0.3s;
  display: inline-block;
  border-radius: 5px;
}
.contacto .formulario .formulario__contenedor .form .boton:hover {
  background-color: #FF2A28;
}
.contacto .formulario .formulario__imagen {
  flex: 1;
}
.contacto .formulario .formulario__imagen i {
  font-size: 250px;
  display: flex;
  text-align: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .contacto {
    padding: 20px 10px;
  }
  .contacto .contacto__titulo p {
    margin-bottom: 20px;
  }
  .contacto .formulario {
    flex-direction: column;
  }
  .contacto .formulario .formulario__contenedor {
    width: 100%;
  }
  .contacto .formulario .formulario__contenedor .form {
    margin: 20px auto;
    width: 94%;
  }
  .contacto .formulario .formulario__imagen i {
    font-size: 50px;
  }
}