.nosotros{
    background-color: #ffffff;
    .nosotros__contenedor{
        max-width: 100%;
        padding: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 80px;
        .nosotros__texto{
            flex: 1;
            .nosotros__texto__titulo{
                font-weight: 900;
                font-size: 40px;
                margin-bottom: 20px;
                opacity: .9;
            }
            .nosotros__texto__parrafo{
                margin-bottom: 10px;
                line-height: 25px;
                font-size: 18px;
                opacity: .85;
                i{
                    margin-right: 5px;
                }
            }
            .nosotros__texto__boton{
                font-weight: 400;
                color: #ffffff;
                padding: 10px 50px;
                background-color: #2731F2;
                display: inline-block;
                border-radius: 5px;
                margin-top: 10px;
                box-shadow: 0 0 20px 0 #2731F2;
                transition: background-color 0.3s, box-shadow 0.3s;
                &:hover{
                    background-color: #FF2A28;
                    box-shadow: 0 0 20px 0 #FF2A28;
                }
            }
        }
        .nosotros__imagen{
            flex: 1;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .nosotros__frase{
        background-image: url("../img/guardia-seguridad-masculino-frase.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        opacity: .8;
        min-height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            font-size: 40px;
            font-style: italic;
            font-weight: 600;
            letter-spacing: 2px;
            text-align: center;
            padding: 10px;
            color: #ffffff;
            text-shadow: 2px 2px 4px rgb(0, 0, 0);
        }
    }
}

@media (max-width: 1024px){
    .nosotros{
        .nosotros__contenedor{
            flex-direction: column;
            padding: 40px 30px;
            gap: 30px;
            .nosotros__imagen{
                max-width: 100%;
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 768px){
    .nosotros{
        .nosotros__contenedor{
            flex-direction: column;
            padding: 40px 20px;
            gap: 20px;
            .nosotros__imagen{
                max-width: 100%;
                margin-top: 20px;
            }
        }
        .nosotros__frase{
            min-height: 150px;
            h3{
                font-size: 20px;
                font-weight: 400;
            }
        }
    }
}